<form class="well form-horizontal">
<fieldset>

  <div class="control-group">
    <label class="control-label" for="attr_id">attr_id</label>
    <div class="controls">
      <input type="text" id="attr_id" name="attr_id" style="width:50px;">
      <a id="dialog_show_find_dialog_attr" class="btn">...</a>
      <span id="attr_name" name="attr_name" class="uneditable-input"></span>
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="caption">caption</label>
    <div class="controls">
      <textarea id="caption" name="caption" rows="2"></textarea>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="form-actions">
    <a id="dialog_regist" class="btn btn-primary"><%= __('Regist') %></a>
    <a id="dialog_close" class="btn"><%= __('Close') %></a>
  </div>

</fieldset>
</form>
