<form class="well form-horizontal">
<fieldset>
  <div id="cg_name" class="control-group">
    <label class="control-label" for="name">name</label>
    <div class="controls">
      <input type="text" id="name" name="name">
      <span id="help_name" class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="caption">caption</label>
    <div class="controls">
      <textarea id="caption" name="caption" rows="2"></textarea>
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="data_type">data_type</label>
    <div class="controls">
      <select id="data_type" name="data_type"></select>
      <!-- <input type="text" id="data_type" name="data_type"> -->
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">length</label>
    <div class="controls">
      <input type="text" id="length" name="length">
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">decimal</label>
    <div class="controls">
      <input type="text" id="decimal" name="decimal">
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="form-actions">
    <a id="dialog_regist" class="btn btn-primary"><%= __('Regist') %></a>
    <a id="dialog_close" class="btn">Closex</a>
  </div>

</fieldset>
</form>
