<form class="well form-horizontal">
<fieldset>

  <div class="control-group">
    <label class="control-label" for="name">name</label>
    <div class="controls">
      <input type="text" id="name" name="name">
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="caption">caption</label>
    <div class="controls">
      <textarea id="caption" name="caption" rows="2"></textarea>
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">view_type</label>
    <div class="controls">
      <input type="text" id="view_type" name="view_type">
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="form-actions">
    <a id="dialog_regist" class="btn btn-primary">Regist</a>
    <a id="dialog_close" class="btn">Close</a>
  </div>

</fieldset>
</form>
