form.well.form-horizontal
  fieldset
    .control-group
      label.control-label(for='attr_id') attr_id
      .controls
        input#attr_id(type='text', name='attr_id', style='width: 50px;')
        a#dialog_show_find_dialog_attr.btn ...
        span#attr_name.uneditable-input(name='attr_name')
        span.help-inline
    .control-group
      label.control-label(for='caption') caption
      .controls
        textarea#caption(name='caption', rows='2')
        span.help-inline
    .form-actions
      a#dialog_regist.btn.btn-primary= __('Regist')
      a#dialog_close.btn= __('Close')
