<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Buloc</title>
  <!-- < % = stylesheet_link_tag    "application", media: "all" % > -->
  <script src="/assets/javascripts/lib/require.js" data-main="/assets/javascripts/require.config"></script>
</head>
<body>

<%- contents %>

<footer class="footer">
  <div class="container">
    <p>Copyright © CyberGrow Inc. All Rights Reserved.</p>
    <ul class="footer-links">
      <li><a href="http://www.cybergrow.co.jp/">Web</a></li>
      <li class="muted">·</li>
      <li><a href="#">Issues</a></li>
      <li class="muted">·</li>
      <li><a href="#">Changelog</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
